<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<h1>find your perfect present!</h1>
<p>Just click through the options you want to find your perfect present. </p>


</body>

<h3>Do you want your present to be...</h3>

<button onclick="location.href= 'https://www.w3schools.com/code/tryit.asp?filename=FSRF8NZ69XV7'" type="button">
     DIY</button>

<button onclick="location.href= 'https://www.w3schools.com/code/tryit.asp?filename=FSRF8NZ69XV7'" type="button">
     Storebought</button>



</html>

